{
  "extends": "airbnb",
  "rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": "off",
    "no-console": "off",
    "max-len": [
      "error",
      125
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
